<h1>Pomo10k</h1>
<%= form_for :pomoclock, url: pomoclocks_path do |f| %>
<p>
   <%= f.label :start_time %><br>
   <%= f.time_select :start_time %>
 </p>

 <p>
   <%= f.label :finish_time %><br>
   <%= f.time_select :finish_time %>
 </p>

 <p>
   <%= f.submit %>
 </p>
<% end %>
